<header>
  <nav>
    <a href="/">my library</a>
    <ul>
      <li>
        <a href="/authors">all authors</a>
      </li>
      <li>
        <a href="/authors/new">new authors</a>
      </li>
    </ul>
  </nav>
</header>
