<header>
  <nav class="header-nav">
    <a class="header-title" href="/">my library</a>
    <ul>
      <li>
        <a href="/authors">all authors</a>
      </li>
      <li>
        <a href="/authors/new">new authors</a>
      </li>
      <li>
        <a href="/books">all books</a>
      </li>
      <li>
        <a href="/books/new">new books</a>
      </li>
    </ul>
  </nav>
</header>
